.wrapper {
    display: flex;
    flex-direction: column;
}

.table {
    margin: auto;
}

.form {
    margin: auto;
}

.buttons {
    margin: auto;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.gray {
    background-color: gray;
}
